.country-list {
    .nav {
        margin: 1rem 0 2rem;
        text-align: center;

        .nav-item {
            display: inline-block;
            margin: 0.5rem;

            &:hover,
            &:focus {
                color: map_get($colors, secondary-text);
            }
        }
    }

    .nav-item.active a,
    .router-link-active {
        border-bottom: 3px solid map_get($colors, main-color);
        color: map_get($colors, secondary-text);
    }
}