.image-details {
    position: relative;
    width: 100%;

    .image-details-wrap {
        height: 40px;
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 0.9em;
        /*! Toggled*/
        transform: translateY(100%);
        opacity: 0;

        /*Toggled*/
        &.active {
            transform: translateY(0);
            opacity: 1;
        }

        .info {
            padding: 0 0.5rem;
        }

        .year {
            color: map_get($colors, main-color);
        }

        /* Icon location */
        .location:before {
            background: url('~@/assets/icons/location.svg') center 100%;
            background-size: auto auto;
            background-size: cover;
            color: #727eea;
            width: 16px;
            height: 16px;
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
        }
    }
}

@media (min-width:450px) {
    .image-details .info {
        padding: 0 1rem;
    }
}