@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

body {
    font-family: "Unica One", serif;
    color: map_get($colors, primary-text);
}

html {
    font-size: 16px;
}

@media (min-width:520px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:980px) {
    html {
        font-size: 18px;
    }
}